apiVersion: apps/v1
kind: Deployment
metadata:
  name: fishing-shop-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fishing-shop-db
  template:
    metadata:
      labels:
        app: fishing-shop-db
    spec:
      containers:
        - name: mongo
          image: mongo:6.0
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: username
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-secret
                  key: password
          volumeMounts:
            - name: mongo-storage
              mountPath: /data/db
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: fishing-shop-db
spec:
  selector:
    app: fishing-shop-db
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP